

  <div class="navbar navbar-inverse">
    <div class="navbar-inner">
	<%= link_to "My gists", 'http://janusygists.herokuapp.com/', id: "logo" %>
      <nav>
      <ul class="nav pull-left">
        <li>
          <a href="/gists">MyGists</a>
        </li>
        <li>
          <a href="https://github.com/janusy/my_gists">Github</a>
        </li>
        <li>
          <a href="/gists/new">Add gist</a>
        </li>
	</ul>
    </nav>
  
  </div>
</div>

<!--
<div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="http://janusygists.herokuapp.com/">My gists</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#unseen">The Unseen Column</a></li>
              <li><a href="#flip-scroll">Flip Scroll</a></li>
			  <li><a href="#no-more-tables">No More Tables</a></li>
            </ul>
			  <p class="navbar-text pull-right">collated by <a href="http://elvery.net">Simon Elvery</a></p>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
-->


<div class="center hero-unit">


<h1>Your gists</h1>

<%= will_paginate %>
<table>
  <thead>
    <tr>
      <th>Snippet</th>
      <th>Lang</th>
      <th>Description</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @gists.each do |gist| %>
      <tr style="height:100px;">
        <td class="snippet_box"><%= raw Pygments.highlight(gist.snippet.length > 30 ? gist.snippet[0,90] + "" : gist.snippet, lexer: gist.lang) %></td> 
        <td class="lang_box"><%= gist.lang %></td>
        <td class="description_box"><%= gist.description %></td>
        <td class="button_show"><%= link_to 'Show', gist, :class => "btn btn-large" %></td>
        <td class="button_edit"><%= link_to 'Edit', edit_gist_path(gist), :class => "btn btn-large" %></td>
        <td class="button_delete"><%= link_to 'Destroy', gist, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-large btn-danger" %>


</td>
	
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate %>
<br>

<%= link_to 'New Gist', new_gist_path, :class => "btn btn-large btn-inverse" %>



<footer class="footer">
  <small>
	my_gists by 
    <a href="https://github.com/janusy/">janusy</a>
  </small>
  <nav>
    <ul>
	<li>
          <a href="/gists">MyGists</a>
        </li>
        <li>
          <a href="https://github.com/janusy/my_gists">Github</a>
        </li>
        <li>
          <a href="/gists/new">Add gist</a>
        </li>
    </ul>
  </nav>
</footer>
</div>

